
p {
    margin-top: 0;
}

nav {
    border-bottom-width: 12px;
    border-color: black;
    padding: 16px;
    background-color: red;

}

h3 {
    height: auto;
    width: auto;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: green
}


.img {
    height: 200px;
    width: 200px;
    border: 100px;
    border-color: black;
}

.flex_template, .flex_contents {
    display: flex

}
h1 {
    color: darkgreen;
}
.wrap {
    flex-wrap: wrap;
    
}
.sub_grid > div {
    display: flex;
    flex-direction: column;
}
p{
    padding: 5px 20px 20px 0px
}


.flex_contents{
    padding: 20px;
}

body {
    margin: 0px;
    padding: 0;
}

main {
    padding: 16px;
}

#main_page {
    color: white
}

footer {
    padding: 2em;
    margin-top: auto;
    position: sticky;
    height: 20px;
    width: auto;
    background-color: rgb(177, 233, 8);
}
